.bento-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 10px;
  padding: 1rem 1rem; 
  margin: 0 auto;
  height: 600px;
}

.card {
  background-color: var(--bg-card);
  border: 1px solid var(--texto-primario);
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 4px 4px 0px var(--texto-primario);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-saldo   { grid-column: 1 / 2; grid-row: 1 / 2; }
.card-metas   { grid-column: 2 / 3; grid-row: 1 / 2; }
.card-ia      { grid-column: 3 / 4; grid-row: 1 / 2; }
.card-rosca   { grid-column: 1 / 2; grid-row: 2 / 3; }
.card-extrato { grid-column: 2 / 4; grid-row: 2 / 3; }

.bg-roxo-neon {
  background-color: var(--roxo-principal);
  color: var(--texto-primario);
}

.bg-roxo-neon h3 { 
  color: var(--texto-primario); 
}

.rosca-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 1rem 0; 
}

.grafico-rosca {
  width: 180px; 
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.furo-rosca {
  width: 150px;
  height: 150px;
  background-color: var(--bg-card);
  border-radius: 50%;
}

.legenda-categorias {
  display: grid;
  font-family: var(--font-principal);
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  font-size: 0.7rem;
  margin-top: auto;
}

.legenda-item {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--texto-primario);
}

.bolinha {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

@media (max-width: 1024px) {
  .bento-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-saldo, .card-rosca {
    grid-column: span 2;
    grid-row: span 1;
  }
}