<div class="chat-container">
  
  <div class="chat-header">
    <h1 class="font-tech">Posso Comprar?</h1>
    <span>Seu assistente financeiro</span>
  </div>

  <div class="chat-mensagens" id="chatArea">
    @for (msg of mensagens(); track $index) {
      <div class="mensagem-linha" [ngClass]="msg.remetente">
        
        <div class="avatar font-tech">
          {{ msg.remetente === 'usuario' ? 'JP' : 'IA' }}
        </div>
        
        <div class="texto-balao">
          <p>{{ msg.texto }}</p>
        </div>

      </div>
    }

    @if (carregando()) {
      <div class="mensagem-linha ia">
        <div class="avatar font-tech">IA</div>
        <div class="texto-balao">
          <div class="digitando">
            <span class="ponto"></span><span class="ponto"></span><span class="ponto"></span>
          </div>
        </div>
      </div>
    }
  </div>

  <div class="chat-input-area frase-interativa">
    
    <span class="texto-fixo">Quero comprar</span>
    
    <input 
      type="text" 
      [(ngModel)]="item" 
      (keyup.enter)="enviarPergunta()"
      class="input-linha"
      placeholder="Ex: um tênis"
    >
    
    <span class="texto-fixo">por R$</span>
    
    <input 
      type="number" 
      [(ngModel)]="valor" 
      (keyup.enter)="enviarPergunta()"
      class="input-linha-num"
      placeholder="500"
    >
    
    <span class="texto-fixo">. Posso comprar?</span>
    
    <button class="btn-enviar" (click)="enviarPergunta()" [disabled]="!item || !valor">
      <span class="material-symbols-rounded">send</span>
    </button>

  </div>

</div>